<div ng-controller="loginController">

<div class="row vertical-offset-100">
		<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Please sign in</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form action="" data-ng-submit="vm.login()">
                    <fieldset>
			    	  	<div class="form-group">
			    		    <input class="form-control" placeholder="UserName" name="userName"  ng-model="userName" type="text" >
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" placeholder="Password" type="password" ng-model="password"  name="password" maxlength="15"  value="">
			    		</div>
			    		
			    		<input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
			    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
	</div>
</div>