<!DOCTYPE html>
<html data-ng-app="myModule">
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>BootStrap Theme</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
			<div class="container-fluid">			 
				<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" >
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>				
				
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
			<a class="navbar-brand" href="index1.html">My Collaboration</a>
			<ul class="nav navbar-nav ml-auto">
			
				<li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
			</ul>
							
			<ul class="nav navbar-nav navbar-right" data-ng-show="!isAdmin"> 
				    <li class="dropdown nav-item">
			          	<a class="dropdown-toggle nav-link" data-toggle="dropdown" href="">Blog<span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><a href="#createBlog">Create Blog</a></li>
				            <li><a href="#viewBlogs">View All Blogs</a></li>
				          </ul>
			        </li>
					<li class="dropdown nav-item">
			          	<a class="dropdown-toggle nav-link" data-toggle="dropdown" href="">Forum<span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><a href="#createForum">Create Forum</a></li>
				            <li><a href="#viewForum">View Forum</a></li>
				          </ul>
			        </li>
			         <li class="dropdown nav-item">
			          	<a class="dropdown-toggle nav-link" data-toggle="dropdown" href="">Job<span class="caret"></span></a>
				          <ul class="dropdown-menu">
				           <li><a href="#viewjobs">View Jobs</a> </li>
				          </ul>
			        </li>	
			          <li class="dropdown nav-item">
			          	<a class="dropdown-toggle nav-link" data-toggle="dropdown" href="">Friends<span class="caret"></span></a>
				          <ul class="dropdown-menu">
				           <li><a href="#/suggestedUsers"> Suggested Users </a></li>
				           <li><a href="#/pendingrequests"> Pending Friend Requests </a> </li>
				           <li><a href="#/friendList"> Friend List </a></li>
				          </ul>
			        </li>	
			        <li><a href="#uploadpicture" data-ng-show="islogged"><img data-ng-src="http://localhost:8181/MyCollab/getimage/{{globals.currentUser.userId}}" alt="upload Picture" width="50px" height="50px" class="img-rounded"></a></li>
			        <li class="dropdown nav-item">
			          	<a class="dropdown-toggle nav-link" data-toggle="dropdown" href="">Profile<span class="caret"></span></a>
				          <ul class="dropdown-menu">
				           <li><a href="#editprofile">Edit Profile </a> </li> 
				            <li><a href="#uploadpicture">Upload Profile Picture</a></li>
				          </ul>
			        </li>			       
				   <li class="nav-item"><a  class="nav-link" href="#register"><span data-ng-show="!islogged"> Register </span></a> </li>		
				   <li class="nav-item"><a  class="nav-link" href="#login"><span data-ng-show="!islogged"> LogIn </span></a></li>
				   <li class="nav-item"><a  class="nav-link" href="#chat"><span data-ng-show="islogged"> Chat </span></a> </li>
				   
				   <li class="nav-item"><a class="nav-link" href=""><span data-ng-show="islogged"> Welcome User {{ globals.currentUser.firstname}} </span></a></li>
				    <li class="dropdown nav-item">
					    <a class="nav-link" href="" class="dropdown-toggle" data-toggle="dropdown" data-ng-show="islogged">
					   	<span class="glyphicon glyphicon-globe" ng-click="updateLength()">
					   	<span class="rw-number-notification" ng-if="notificationNotViewedLength>0">{{notificationNotViewedLength}}</span> </span></a>
					   	
					   	<ul class="dropdown-menu">
					           <li ng-repeat="notification in notificationNotViewed"> 
					           <a href="" ng-click="updateNotification(notification.id)" style="color:red">{{notification.notificationType}} : {{notification.notificationDesc}} is {{notification.approvalStatus}} {{notification.rejectionReason}}</a></li> 
					           <li ng-repeat="notification1 in notificationViewed"> 
					           <a href="" style="color:blue">{{notification1.notificationType}} : {{notification1.notificationDesc}} is {{notification1.approvalStatus}} {{notification1.rejectionReason}}</a></li>
					          </ul>
				   	</li>
				   <li class="nav-item"><a class="nav-link" href="" data-ng-click="logout()" data-ng-controller='LoginController'><span data-ng-show="islogged"> Logout </span></a></li>
				   
			</ul>
			
			<ul class="nav navbar-nav navbar-right" data-ng-show="isAdmin"> 
									
				   <li><a href="#admin/manageBlog"><span data-ng-show="islogged"> Manage Blog </span></a> </li>		
				   <li><a href="#admin/manageForum"><span data-ng-show="islogged"> Manage Forum </span></a></li>
				   <li><a href="#admin/addjob"><span data-ng-show="islogged"> Add Job </span></a></li>
				    <li><a href="#uploadpicture" data-ng-show="islogged"><img data-ng-src="http://localhost:8181/MyCollab/getimage/{{globals.currentUser.userId}}" alt="upload Picture" width="50px" height="50px" class="img-rounded"></a></li>
				   <li><a href=""><span data-ng-show="islogged"> Welcome ADMIN  {{ globals.currentUser.firstname}} </span></a></li>
				   <li><a href="" data-ng-click="logout()" data-ng-controller='LoginController'><span data-ng-show="islogged"> Logout </span></a></li>
				   
			</ul>
		  </div>
		  	</div>
	</nav>	
	 <header class="masthead" style="background-image: url('resources/images/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>MyCollab</h1>
              <span class="subheading">Join Collbarate Share</span>
            </div>
          </div>
        </div>
      </div>
    </header>
	<!-- 	Main Content
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                Man must explore, and this is exploration at its greatest
              </h2>
              <h3 class="post-subtitle">
                Problems look mighty small from 150 miles up
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on September 24, 2017</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
              </h2>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on September 18, 2017</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                Science has not yet mastered prophecy
              </h2>
              <h3 class="post-subtitle">
                We predict too much for the next year and yet far too little for the next ten.
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on August 24, 2017</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                Failure is not an option
              </h2>
              <h3 class="post-subtitle">
                Many say exploration is part of our destiny, but it’s actually our duty to future generations.
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on July 8, 2017</p>
          </div>
          <hr>
          Pager
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>
        </div>
      </div>
    </div>

   <hr/>
 -->	<div id="main">
		<div data-ng-view>
		</div>
	</div>
	 
	<div class="footer">
	<div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Your Website 2017</p>
          </div>
        </div>
      </div>
	</div>
</body>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" />
   <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  
 <!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<!-- <script type="text/javascript" src="resources/js/angular.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-cookies.js"></script>
<!-- <script type="text/javascript" src="resources/js/angular-route.min.js"></script>
<script type="text/javascript" src="resources/js/angular-cookies.min.js"></script> -->
<script type="text/javascript" src="resources/js/app.js"></script>
<script type="text/javascript" src="home/HomeController.js"></script>
<script type="text/javascript" src="home/HomeService.js"></script>
<script type="text/javascript" src="register/userService.js"></script>
<script type="text/javascript" src="register/UserRegistrationController.js"></script>
<script type="text/javascript" src="login/loginService.js"></script>
<script type="text/javascript" src="login/LoginController.js"></script>
<script type="text/javascript" src="blogs/BlogService.js"></script>
<script type="text/javascript" src="blogs/blogController.js"></script>
<script type="text/javascript" src="blogs/BlogCommentService.js"></script>
<script type="text/javascript" src="blogs/blogViewController.js"></script>
<script type="text/javascript" src="forums/ForumService.js"></script>
<script type="text/javascript" src="forums/ForumCommentService.js"></script>
<script type="text/javascript" src="forums/forumController.js"></script>
<script type="text/javascript" src="jobs/JobService.js"></script>
<script type="text/javascript" src="jobs/JobController.js"></script>
<script type="text/javascript" src="register/ImageController.js"></script>
<script type="text/javascript" src="register/fileUploadService.js"></script>
<script type="text/javascript" src="register/fileModel.js"></script>
<script type="text/javascript" src="friends/FriendService.js"></script>
<script type="text/javascript" src="friends/FriendController.js"></script>
<script type="text/javascript" src="chats/ChatController.js"></script>
<script type="text/javascript" src="chats/chatservice.js"></script>
 <script src="resources/js/sockjs/sockjs.js"></script>
 <script src="resources/js/stomp/dist/stomp.js"></script>
<link rel="stylesheet" href="resources/css/style-main.css">
<link rel="stylesheet" href="resources/css/style-blog.css">
<link rel="stylesheet" href="resources/css/_footer.css">
<link rel="stylesheet" href="resources/css/_masthead.css">
<link rel="stylesheet" href="resources/css/_mixins.css">
<link rel="stylesheet" href="resources/css/_variables.css">
<link rel="stylesheet" href="resources/css/_global.css">
<link rel="stylesheet" href="resources/css/_navbar.css">
<link rel="stylesheet" href="resources/css/_contact.css">
<link rel="stylesheet" href="resources/css/_bootstrap-overrides.css">
<script type="text/javascript" src="resources/js/clean-blog.js"></script>
<script type="text/javascript" src="resources/js/jqBootstrapValidation.js"></script>
</html>