<head>
<link rel="stylesheet" href="resources/css/style_chat.css">
</head>
<div class="container">
<div class="vertical-offset-20">
<div class="row">
<div class="col-md-6">
   <header class="col-sm-8">
      <div id="heading">
        
        <h2>Chat <small>Online Chat Room</small></h2>
       
      </div>
   </header>
   <section class="main container">
     <div class="row">
    	<div class="col-xs-10">
	   		<p class="lead">Type in the box below to start a chat!</p>	   		
	   	</div> 
     
     </div>
     <div class="row">
   		<div class="col-md-6">
   		<form role="form" id="chatForm" ng-submit="sendMessage(chat)">
   		  <div class="alert alert-info notification" id="joinedChat" ng-if="latestUser" ng-animate="{enter: 'fade', leave: 'fade'}">
            {{userNames[latestUser]}} has joined the chat!
          </div>
          <div class="form-group">
  			    <label for="to">Send To</label>
  			    <select class="form-control" id="to" name="to" ng-model="chat.to" ng-click="updateUserList()">
  			    	<option value="" selected="selected">Select Recipient</option>
              		<option value="all">All Users</option>
  			    	<option ng-repeat="user in users" value="{{user}}" data-ng-if="user!=globals.currentUser.userId">{{userNames[user]}}</option>
  			    </select>
  			  </div>
  			  <div class="form-group">
  			    <label for="message">Message {{currentUser.username}}</label>
  			    <textarea class="form-control focus-on-click" name="message" placeholder="Message..." rows="3" ng-model="chat.message"></textarea>
  			  </div>
  			  <input type="submit" ng-focus="focus-on-click" name="send" class="btn btn-primary" value="Send.." />
   		</form>
   		</div>
   		</div>
   		
   		
   		<!-- <div class="row">
   		<div class="col-md-12" id="chats" >
   			<div ng-repeat="chat in chats | reverse" class="chat {{chat.direction}}" ng-class="{'broadcast': chat.broadcast}">
          		<span class="from">
		        	{{chat.from}}
		       		<small ng-if="chat.broadcast">BROADCAST</small>
		        </span>
		        <span class="message">{{chat.message}}</span>
		    </div>
   		</div>
   		</div> -->
   </section>
         
  </div> 
 
 <div class="col-md-6">
 <div class="container col-md-offset-1">
    	<div class="row vertical-offset-20">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading" id="accordion">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    <div class="btn-group pull-right">
                        <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </div>
                </div>
            <div class="panel-collapse collapse" id="collapseOne">
                <div class="panel-body">
                    <ul class="chatMsg">
                        <li ng-repeat="chat in chats | reverse" class="chat {{chat.direction}}" ng-class="{'broadcast': chat.broadcast, right: chat.from !== 'Me',left: chat.from === 'Me'}" class="clearfix" ><!--  <span class="chat-img pull-left">
                            <img data-ng-src="http://localhost:8181/MyCollab/getimage/{{friend.fromId}}" height="60" width="60" alt="User Image Not Found"  class="img-circle">
                        </span>  -->
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">{{chat.from}}</strong>   <small class="pull-right text-muted">
                                       <span class="glyphicon glyphicon-time"></span>{{chat.time | date:'hh:mm:ss a'}}</small> 
                                </div>
                                <p>
                                    {{chat.message}}
                                </p>
                            </div>
                        </li>
                         </ul>
                </div>
              </div>
             </div>
            </div>
            </div>
           </div>
         </div>  
           
   	   </div>	
	</div>
 </div> 
 		
   	   
  