<div class="post">
          <div>            
            <h2>{{blog.blogTitle}}</h2>
            <cite>By <strong>{{ blog.userName}}</strong> ~ Posted on {{blog.createdDate | date:'MMMM d, y @ h:mma'}}</cite>
            <div class="post-body">
             <p>
               {{blog.blogContent}}
             </p> 
            </div>
            
            <div class="comments">
              <input type="hidden"  data-ng-model="clickCount" value="0"/>         
              <button class="fa fa-heart" data-ng-click="updateLikes(blog)" data-ng-if="blog.userName != globals.currentUser.username" data-ng-show="globals.currentUser.username"> {{blog.noOfLikes}}</button>
              <h4>Comments</h4>
              <ul>
               <li data-ng-repeat="comment in commentList">
                 "{{comment.commentText}}"
                 <cite>- <b>{{comment.userName}}</b> </cite>
                  on {{comment.commentDate | date:'MMM d, y @ h:mma'}}
               </li>
              </ul>
              <button data-ng-click="accessCommentBlock()">Add a Comment</button>
              <div data-ng-show="globals.currentUser.username && showCommentBlock">
              <form name="commentForm">
              <br/>
	               <!--  <h4>Add Comment</h4> -->
	                  <textarea data-ng-model="comment.commentText" cols="5" rows="5" placeholder="Type Comment Text Here" required></textarea>
	                   <br/>               
	                  <button  class="btn btn-primary" data-ng-click="addComment(comment,blog.blogId)">Submit</button>
	           </form>
	           </div>
              </div>
        </div>
      </div>