<div class="blog">
<div class="container">
<div class="post">
          <div class="jumbotron">            
            <h3>{{blog.blogTitle}}</h3>
            <img data-ng-src="http://localhost:8181/MyCollab/getimage/{{blog.userId}}" alt="upload Picture" width="40px" height="40px" class="img-circle"><span>   </span><cite>By <strong>{{ userNames[blog.userId]}}</strong> ~ Posted on {{blog.createdDate | date:'MMMM d, y @ h:mma'}}</cite>
            <div class="post-body">
            <br>
               {{blog.blogContent}}
           
            </div>
            <br/>
            
            <div class="comments">
              <input type="hidden"  data-ng-model="clickCount" value="0"/>         
              <button class="fa fa-thumbs-up" data-ng-click="updateLikes(blog)" data-ng-if="blog.userName != globals.currentUser.username" data-ng-show="globals.currentUser.username" style="border:none; background: transparent;"> <span>Likes </span>&nbsp;{{blog.noOfLikes}}</button>
              <br/><br/>
             <!--  <h5>Comments</h5>
              <ul>
               <li data-ng-repeat="comment in commentList">
                 --  "{{comment.commentText}}"<br>
                 <cite>-   <img data-ng-src="http://localhost:8181/MyCollab/getimage/{{comment.userId}}" alt="upload Picture" width="30px" height="30px" class="img-circle"><b>{{userNames[comment.userId]}}</b> </cite>
                  on {{comment.commentDate | date:'MMM d, y @ h:mma'}}
               </li>
              </ul> -->
            <div class="panel panel-default widget">
            <div class="panel-heading">
               
                <h3 class="panel-title">
                 <span class="glyphicon glyphicon-comment">  </span>
                    Recent Comments</h3>
                <span class="label label-info">
                    {{commentList.length}}</span>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" data-ng-repeat="comment in commentList">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                 <img data-ng-src="http://localhost:8181/MyCollab/getimage/{{comment.userId}}" alt="upload Picture" width="60px" height="60px" class="img-circle img-responsive"></div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a>
                                         {{comment.commentText}}</a>
                                    <div class="mic-info">
                                        By: <a href="#">{{userNames[comment.userId]}}</a> on {{comment.commentDate | date:'MMM d, y @ h:mma'}}
                                    </div>
                                </div>
                                <div class="comment-text">
                                    
                                </div>
                                
                            </div>
                        </div>
                    </li>
                   </ul>
                   </div>
                   
              </div>
                       
              
              <button class="btn btn-primary" data-ng-click="accessCommentBlock()" data-ng-hide="showCommentBlock">Add a Comment</button>
              <div data-ng-show="globals.currentUser.username && showCommentBlock">
              <form name="commentForm" novalidate>
              <br/>
	               <!--  <h4>Add Comment</h4> -->
	               <img data-ng-src="http://localhost:8181/MyCollab/getimage/{{globals.currentUser.userId}}" alt="upload Picture" width="30px" height="30px" class="img-circle"> <span class="focus-text"> {{userNames[globals.currentUser.userId]}}</span>
	               <br/><br/>	                  
	                  <textarea data-ng-model="comment.commentText" cols="3" rows="3" placeholder="Type Comment Text Here" required></textarea>
	                   <br/>               
	                  <button  class="btn btn-primary" data-ng-click="addComment(comment,blog.blogId)"  ng-disabled="!commentForm.$valid">Submit</button>
	           </form>
	           </div>
          
        </div>
      </div>
 </div>
 </div>
 </div>