<div class="container">
<div class="row vertical-offset-20">
		<div class="col-md-8 col-md-offset-2">
    		<div class="panel panel-default">
		  	<div class="panel-heading">
	  
	  			<h3 class="panel-title"> Forums Pending for Approval</h3>
	        </div>
			<div class="panel-body">
			<div ng-if="forumPendingList.length==0">No Pending Forums available</div>
				<table ng-show="forumPendingList.length > 0" class="forum-table">
					<thead class="table-header">
						<tr>
							<th class="forum-icon">&nbsp;</th>
							<th class="forum-topics">Forum Name</th>
							<th class="forum-posts">Created By</th>
							<th  class="forum-date">Posted On</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="forum in forumPendingList">
							<td class="forum-list-icon"><i class="fa fa-file-text" aria-hidden="true" style="font-size:24px;color:#ccc"></i></td>
							<td colspan="1"><div class="forum-name"><a href="#/admin/viewForumDetail/{{forum.forumId}}">{{forum.forumName}}</a></div>
           	   		  			<div  class="forum-description">{{forum.forumContent | limitTo:30}}..</div></td>
							<td><div class="forum-no-posts">{{userNames[forum.userId]}}</div></td>
							<td class="forum-start-date">{{forum.createdDate | date : "medium"}}</td>
							
							<!-- <td><input type="radio" data-ng-model="forum.status" value="APPROVED"> Approve &nbsp;&nbsp;&nbsp;<input type="radio" data-ng-model="forum.status" value="REJECTED"> Reject 
							<br></td>
							<td><input type="text" data-ng-model="rejectionReason"></td>
							<td><button data-ng-click="approveOrRejectForum(forum.forumId,forum.status,rejectionReason)">Ok</button></td> -->
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel panel-default">
			  	<div class="panel-heading">
		  
		  			<h3 class="panel-title"> All Forums </h3>
		        </div>
			<div class="panel-body">
			<div ng-if="forumAllList.length==0">No Forums available</div>
				<table ng-show="forumAllList.length>0" class="forum-table">
					<thead class="table-header">
						<tr>
							<th class="forum-icon">&nbsp;</th>
							<th  class="forum-topics">Forum Name</th>
							<th class="forum-posts">Created By</th>
							<th class="forum-posts">Status</th>
							<th class="forum-date">Created Date</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="forum in forumAllList">
							 <td class="forum-list-icon"><i class="fa fa-file-text" aria-hidden="true" style="font-size:24px;color:#ccc"></i></td>
							 <td colspan="1"><div class="forum-name"><a href="#/viewForumDetail/{{forum.forumId}}">{{forum.forumName}}</a></div>
           	   		  			<div  class="forum-description">{{forum.forumContent | limitTo:30}}..</div>
           	   		  		</td>
           	   		  		<td> <div class="forum-no-posts">{{userNames[forum.userId]}}</div></td>
							<td> <div class="forum-no-posts">{{forum.status}}</div></td>
							<td class="forum-start-date">{{forum.createdDate | date : "medium"}}</td>							
							
						</tr>
					</tbody>
				</table>
			</div>
			</div>
 		</div>
	</div>
</div>
</div>

				